---
# Only the main Sass file needs front matter (the dashes are enough)
---
div.jabrefcontent > table {
  padding: 0;
}

div.jabrefcontent > table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

div.jabrefcontent > table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

div.jabrefcontent > table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

div.jabrefcontent > table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

div.jabrefcontent > table tr th :first-child,
div.jabrefcontent > table tr td :first-child {
  margin-top: 0;
}

div.jabrefcontent > table tr th :last-child,
div.jabrefcontent > table tr td :last-child {
  margin-bottom: 0;
}



// Google Hack - based on http://stackoverflow.com/questions/21932819/google-cse-with-twitter-bootstrap-not-displaying-the-search-box-correctly

.gsc-control-cse .gsc-table-result {
	font-family : inherit;
}

.gsc-control-cse .gsc-input-box {
	height : inherit;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button, input.gsc-search-button-v2 {
	box-sizing  : content-box;
	line-height : normal;
	margin-top  : 0px;
}
