_site/
.*
!/.git*
!/.travis.yml
Gemfile.lock
npm-debug.log

#try to avoid "Page build warning"s at contributors
#see for background information https://github.com/trek/beautiful-open/issues/43
CNAME

# IntelliJ
*.iml
