{% include include-before-link.html %}

{% assign step = page.path | split: '/' %}
{% assign lang = step[0] %}

{% comment %}
Path is something like en/index.md, en/BibTexHelp.md, or index.md (which resides at the root of the page).
These cases are handled here in that order.
{% endcomment %}

{% if step[1] == 'index.md' %}
  {% include link-to-main-{{lang}}.html %}
{% elsif step[1] %}
  {% include link-to-toc-{{lang}}.html %}
{% else %}
  <a href="http://www.jabref.org">Back to www.jabref.org</a>
{% endif %}

{% include analytics.html %}

{% include include-after-link.html %}
