name: Tests
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Lint all files
        uses: avto-dev/markdown-lint@v1
        with:
          args: 'en/'
          config: '.markdownlint.yml'
